{% extends "layout.html" %}
{% block body %}
<div>
    <div>
        <div class="myDiv">
        <h1 style='font-size: 3rem'>Dự án INEST</h1>
    </div>
    <div class="row" style="background-color: #395155; box_shadow: 2px 5px 5px 1px #ff6583">
        <div class="col-3"></div>
        <div class="col-2">
            <a href="/dashapp/"><h4 class="myH4">Dữ liệu thô các thiết bị</h4></a>
        </div>
        <div class="col-2">
            <a href="/dashapp/"><h4 class="myH4">Hiệu chuẩn thiết bị</h4></a>
        </div>
        <div class="col-2">
            <a href="/dashapp/"><h4 class="myH4" style="text-decoration: underline; text-decoration-color: #ff6584; text-shadow 0px 0px 1px #fffbfc">Thành viên dự án</h4></a>
        </div>
        <h3 style="margin-top:5px"><a style="color:white" href='/logout/'>Log out</a></h3>

        <a href="/logout/">
        <div class="col-2">
            <i class="fa fa-sign-out" style="font-size:24px;color:white;margin-top:5px"></i>
        </div>
        </a>
        <div class="col-3"></div>
    </div>
</div>>
<h1 style="color:black; font-size:50px">File Upload</h1>
    <div style="position: absolute; left: 47%;">
        <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
          <h4 style="font-size:30px; color:black;margin-left:-60px">Chọn thiết bị:</h4>
          <div style="margin-left:12.5px">
            <select id="devices" name="devices" required>
            <option value="" disabled selected hidden>Tên thiết bị</option>
            <option value="LCS17-test">LCS14</option>
            <option value="LCS17-test">LCS15</option>
            <option value="LCS17-test">LCS16</option>
            <option value="LCS17-test">LCS17</option>
            <option value="LCS17-test">LCS18</option>
            <option value="LCS17-test">LCS19</option>
            <option value="LCS17-test">LCS20</option>
            <option value="LCS17-test">GRIMM03</option>
          </select>
        </div>

            <div style="margin-top:10px; margin-left:30px"><input type="submit" value="Submit" style = "font-size:20px"></div>
        </form>
    </div>
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
{%- for msg in errors %}
    <div style="position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
<div class="alert alert-warning" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
    </div>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
    <div style="position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ success[0] }}
    </div>
    </div>

{% endif %}
{% endwith %}

{% endblock %}